/* 전체 영역 */
* {
  margin: 0;
  padding: 0;
}
span {
  /* border: 1px solid green; */
  font-size: 25px;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.Area {
  /* border: 1px solid black; */
  height: 1340px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
/* 인풋 스타일 */
/* Input-Style1은 사용안함 */
.Input-Style1 {
  border-radius: 10px;
  border: 5px solid rgb(200, 200, 200);
  outline: none;
  caret-color: #00c7ae;
  font-size: 20px;
}
.Input-Style2 {
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 0 0 5px 1px gray inset;
  caret-color: #00c7ae;
  outline: none;
  font-size: 20px;
}
/* 그림자 */
.Shadow {
  box-shadow: 2px 2px 2px gray;
}

/* '커뮤니티 자유게시판' 텍스트 컨테이너 */
.MainText-Container {
  /* border: 1px solid red; */
  height: 120px;
  display: flex;
  align-items: center;
}
/* '커뮤니티 자유게시판' 텍스트 스타일 */
.MainText-Style {
  /* border: 1px solid green; */
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  margin: 0 0 0 20px;
}

/* ----- 위쪽 컨테이너 ----- */
.Up-Container {
  /* border: 1px solid blue; */
  height: 600px;
  width: 100%;
}
.Content-OuterContainer1 {
  /* border: 1px solid blue; */
  height: 500px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Content-InnerContainer1 {
  /* border: 1px solid blue; */
  height: 90%;
  width: 900px;
}
/* 제목 */
.Title-Container {
  /* border: 1px solid red; */
  height: 50px;
  display: flex;
  align-items: center;
}
/* 작성자 */
.Author-Container {
  /* border: 1px solid red; */
  height: 50px;
  display: flex;
  align-items: center;
}
/* 게시일 */
.PostDate-Container {
  /* border: 1px solid red; */
  height: 50px;
  display: flex;
  align-items: center;
}
/* 코멘트 */
.Comment-OuterContainer {
  /* border: 1px solid red; */
  /* 원본 규격 height: 300px; */
  height: 285px;
  display: flex;
  align-items: center;
}
.Comment-InnerContainer {
  /* border: 1px solid red; */
  display: flex;
}
/* 텍스트 스타일 */
.Text-Style1 {
  margin: 0 0 0 50px;
}
/* 인풋 크기 */
.Input-Size1 {
  height: 260px;
  width: 700px;
}
/* 삭제, 수정 버튼 영역 */
.Button-OuterContainer1 {
  /* border: 1px solid blue; */
  height: 100px;
}
.Button-InnerContainer1 {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}
/* 삭제 버튼 */
.Delete1 {
  /* border: 1px solid red; */
  height: 60px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(245, 80, 80);
  color: white;
}
.Delete1:hover {
  background-color: crimson;
  box-shadow: none;
}
/* 수정 버튼 */
.Edit1 {
  /* border: 1px solid red; */
  height: 60px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #00c7ae;
  color: white;
}
.Edit1:hover {
  background-color: #00a18d;
  box-shadow: none;
}
